name: Build tilesets
on:
  workflow_dispatch:
  workflow_call:

jobs:
  builds:
    strategy:
      fail-fast: false
      matrix:
        tileset_repo: ["I-am-Erk/CDDA-Tilesets"]
        tileset_src_checkout: ["gfx"]
        include:
          - name: Altica
            tileset_dir: gfx/Altica
            compose_args: --use-all --obsolete-fillers
          - name: ASCII_Overmap
            tileset_dir: gfx/ASCII_Overmap
            compose_args: --use-all
          - name: BrownLikeBears
            tileset_dir: gfx/BrownLikeBears
            compose_args: --use-all --obsolete-fillers
          - name: ChibiUltica
            tileset_dir: gfx/Chibi_Ultica
            compose_args: --use-all
          - name: HollowMoon
            tileset_dir: gfx/HollowMoon
            compose_args: --use-all --obsolete-fillers
          - name: Larwick_Overmap
            tileset_dir: gfx/Larwick_Overmap
            compose_args: --use-all
          - name: MShockXotto+
            tileset_dir: gfx/MShockXotto+
            compose_args: --use-all
          - name: NeoDays
            tileset_dir: gfx/NeoDays
            compose_args: --use-all
          - name: Retrodays
            tileset_dir: gfx/Retrodays
            compose_args: --use-all
          - name: GiantDays
            tileset_dir: gfx/GiantDays
            compose_args: --use-all
          - name: SmashButton_iso
            tileset_dir: gfx/HitButton_iso
            compose_args: --use-all
          - name: SurveyorsMap
            tileset_dir: gfx/SurveyorsMap
            compose_args: --use-all
          - name: UltimateCataclysm
            tileset_dir: gfx/UltimateCataclysm
            compose_args: --use-all --obsolete-fillers
          - name: Ultica_iso
            tileset_dir: gfx/Ultica_iso
            compose_args: --use-all
          - name: PenAndPaper
            tileset_dir: gfx/PenAndPaper
            compose_args: --use-all
          - name: Cuteclysm
            tileset_dir: "."
            compose_args: --use-all
            tileset_repo: pixel-32/CDDA-tileset
            tileset_src_checkout: "."


    name: Compose tileset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout local repo
        uses: actions/checkout@v4
        with:
          ref: master
          sparse-checkout: |
            src
            tools
          fetch-depth: 1

      - name: Build json formatter
        run: make tools/format/json_formatter.cgi

      - name: Install dependencies
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: python3 python3-pip libvips42
      - run: pip install pyvips

      - name: Clone main tileset repo
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.tileset_repo }}
          ref: master
          path: build-tilesets
          sparse-checkout: ${{matrix.tileset_src_checkout}}
          fetch-depth: 1

      - name: Build ${{ matrix.name }}
        run: |
          export SOURCE="${{github.workspace}}/build-tilesets/${{ matrix.tileset_dir }}"
          export DEST="${{github.workspace}}/${{ matrix.name }}"
          python3 ${{ github.workspace }}/tools/gfx_tools/compose.py ${{ matrix.compose_args }} --feedback CONCISE --format-json --loglevel INFO "$SOURCE" "$DEST"

          mv -v "$SOURCE/tileset.txt" "$DEST/"
          [ -f "$SOURCE/fallback.png"  ] && mv -v "$SOURCE/fallback.png" "$DEST/" || echo "No fallback.png for ${{ matrix.name }}"
          [ -f "$SOURCE/layering.json" ] && mv -v "$SOURCE/layering.json" "$DEST/" || echo "No layering.json for ${{ matrix.name }}"

      - name: Store artifact
        uses: actions/upload-artifact@v4
        with:
          name: "tileset-${{ matrix.name }}"
          path: "${{github.workspace}}/gfx/*"
